@import "tailwindcss";
@import "../../../node_modules/@kleros/ui-components-library/dist/theme/theme.css";

@theme {
  --color-blackLowOpacity: #00000080;
  --color-whiteLowOpacitySubtle: #ffffff0d;
  --color-whiteLowOpacityStrong: #ffffff26;

  @keyframes slideInRight {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-slide-in-right: slideInRight 0.5s ease-out;

  @keyframes slideInLeft {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(0);
    }
  }

  --animate-slide-in-left: slideInLeft 0.5s ease-out;
}

@layer components {
  .hover-short-transition {
    transition: 0.1s;
  }
}
