export NEXT_PUBLIC_APP_DEPLOYMENT=devnet
export NEXT_PUBLIC_REOWN_PROJECT_ID="abcabcabcabcabcabc"
export NEXT_PUBLIC_ALCHEMY_API_KEY="abcabcabcabcabcabc"
export NEXT_PUBLIC_COURT_SITE="https://dev--kleros-v2-testnet.netlify.app/#"